<form name='createAccountForm'>
	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" ng-model='user.name' class="form-control" id="name" placeholder="Name" required>
	</div>
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" ng-model='user.email' class="form-control" id="email" placeholder="Email" required>
	</div>
	<div class="form-group has-error has-feedback">
		<label for="password">Password</label>
		<input type="password" ng-model-options="{allowInvalid: true}" ng-pattern='pwPattern' ng-model='user.password' class="form-control" id="password" placeholder="Password" required ng-change='checkPassword()'>
	</div>
	<div>
		<label>Password Rules</label>
		<ul class='no-style'>
			<li ng-repeat='criteria in passwordCriteria' ng-class='{ok: criteria.ok, nok: !criteria.ok}'><i class="fa fa-2x" ng-class='{"fa-check": criteria.ok, "fa-times": !criteria.ok}'></i> {{criteria.description}}</li>
		</ul>
	</div>
	<button type="submit" ng-click='createAccountForm.$valid && createAccount()' ng-disabled='createAccountForm.$invalid' class="btn btn-default">Next</button>
</form>