ul.no-style {
	list-style-type: none;
	margin-left: -20px;
	margin-top: 5px;

	li {
		margin-bottom: 5px;
	}

	li.ok {
		color: green;
	}

	li.nok {
		color: red;
	}
}

p.nok {
	padding-top: 10px;
	color: red;
}

div.page-nav {
	padding: 10px;
}

div.active {
	border-style: dashed;
	border-width: 1px;
	border-color: white;
	color: white;
	background-color: gray;
}